---
import MainLayout from "../../layouts/MainLayout.astro";
import { getCollection } from "astro:content";
import { SITE } from "@data/constants";

const blogEntries = await getCollection("blog", ({ id }) => id.startsWith("en/"));
const pageTitle = `Referenzen | ${SITE.title}`;
---
<MainLayout title={pageTitle}>
  <div class="mx-auto max-w-7xl px-4 py-16">
    <div class="mx-auto max-w-3xl text-center">
      <h1 class="text-4xl font-bold mb-8 text-neutral-800 dark:text-white">
        Unsere Referenzen und Erfolgsgeschichten
      </h1>
    </div>
    
    <div class="space-y-12">
      {blogEntries.map(entry => (
        <div class="p-4 border rounded">
          <h2>{entry.data.title}</h2>
          <p>{entry.data.description}</p>
          <p>Author: {entry.data.author}</p>
          <p>Date: {entry.data.pubDate.toLocaleDateString()}</p>
        </div>
      ))}
    </div>
  </div>
</MainLayout>
